asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Django==5.0
idna==3.6
libretranslatepy==2.1.1
lxml==4.9.4
requests==2.31.0
sqlparse==0.4.4
translate==3.6.1
tzdata==2023.3
urllib3==2.1.0
